<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ProjectList</title>
</head>
<body>
<h2>Project List</h2>
    <table>
        <thead>
            <tr>
                <th>projectName</th>
                <th>projectManager</th>
                <th>status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="project : ${projectListDto}">
                <td>
                    <a th:href="@{'/projects/' + ${project.projectId}}" th:text="${project.projectName}">projectName</a>
                </td>
                <td th:text="'project Manager : ' + ${project.projectManagerId}">projectManager</td>
                <td th:text="${project.status}">status</td>
            </tr>
        </tbody>
    </table>
</body>
</html>