<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup Page</title>
</head>
<body>
<h2>Signup</h2>
<div th:if="${error}">Error: <span th:text="${error}">error</span></div>
<form action="/signup" method="post">
    <div>
        <label for="userId">userId:</label>
        <input type="text" id="userId" name="userId" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required>
    </div>
    <div>
        <label for="password">Email:</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <button type="submit">회원가입</button>
    </div>
</form>
</body>
</html>